@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin container() {
  width: 320px;
  max-width: 0 auto;
}
@mixin no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}
@mixin placeholder(#000) {
  &::-moz-placeholder {
    color: #000000;
  }
  &::-webkit-input-placeholder {
    color: #000000;
  }
  &:-moz-placeholder {
    color: #000000;
  }
  &:-ms-input-placeholder {
    color: #000000;
  }
}
