body {
  min-width: 320px;
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #333333;
  background: $main-bg;
}
// img {
//   max-width: 100%;
//   height: auto;
// }
a {
  text-decoration: none;
  outline: none;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.page-wrapper {
  @include container();
}
