.btn {
  min-height: 58px;
  display: block;
  outline: none;
  border: none;
  width: 260px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
  text-align: center;
  padding: 16px 10px;
    &--form {
      width: 280px;
    }
    &--popup {
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
    }
}