.error {
  font-family: $font;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  text-transform: none;
  color: #ff5c5c;
  padding-left: 22px;
  margin-top: 5px;
}
@media screen and (min-width: $tablet-widths) {
  .error {
    position: absolute;
    right: 0;
    top: 45px;
  }
}
@media screen and (min-width: $desktop-widths) {
  .error {
    top: 62px;
    left: 84px;
  }
}
