.features__header {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.features__slogan {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  display: block;
  margin-bottom: 27px;
}
.features__description {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 26px;
}
.features__item {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.features__item--gray {
  background: #eeeeee;
  padding-top: 26px;
  padding-bottom: 13px;
  padding-left: 36px;
  padding-right: 36px;
  position: relative;
  min-height: 167px;
  box-sizing: border-box;
    &:after {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      background: #d6d6d6;
      bottom: 0;
      left: 20px;
    }
    &:last-child:after {
      display: none;
    }
}
.features__picture {
  line-height: 0;
}
.features__item--blue {
  background-color: #81b3d2;
  padding-top: 40px;
  padding-bottom: 26px;
  border-bottom: none;
  color: #ffffff;
}
.features__item--big {
  padding-top: 57px;
  position: relative;
}
.features__triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 37px;
}
.features__item-title {
  margin-top: 0;
  margin-bottom: 9px;
}
.features__item-number {
  display: block;
  margin-bottom: 1px;
}
.features__option-wrapper {
  padding: 27px 20px 17px 20px;
}
.features__option {
  padding-left: 51px;
  padding-right: 21px;
  padding-top: 8px;
  padding-bottom: 16px;
  position: relative;
}
.features__icon {
  fill: #81b3d2;
  position: absolute;
}
.features__option--motel .features__icon {
  width: 38px;
  height: 36px;
  top: -1px;
  left: 1px;
}
.features__option--souvenir .features__icon {
  width: 34px;
  height: 38px;
  top: -3px;
  left: 3px;
}
.features__option--food .features__icon {
  width: 40px;
  height: 35px;
  top: 3px;
  left: -3px;
}
.features__option-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
}
.features__option-text {
  margin-top: 0;
  margin-bottom: 6px;
  line-height: 21px;
}
@media screen and (min-width: $tablet-widths) {
  .features {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .features__header {
    padding: 0 140px;
    margin-bottom: 24px;
  }
  .features__slogan {
    font-size: 21px;
    line-height: 26px;
  }
  .features__blue-block {
    display: flex;
  }
  .features__blue-block--second {
    flex-direction: row-reverse;
  }
  .features__gray-block {
    display: flex;
  }
  .features__item--blue {
    width: 166px;
    padding-top: 43px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .features__triangle {
    display: none;
  }
  .features__item--big {
    padding-top: 43px;
  }
  .features__item-title {
    margin-top: 0;
    margin-bottom: 13px;
  }
  .features__item-text {
    margin-top: 20px;
  }
  .features__option-wrapper {
    display: flex;
    text-align: center;
    padding: 0;
  }
  .features__option {
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 160px;
    padding-bottom: 55px;
      &--motel {
        order: 1;
      }
      &--souvenir {
        order: 3;
      }
      &--food {
        order: 2;
      }
  }
  .features__option--motel .features__icon {
    width: 75px;
    height: 72px;
    top: 61px;
    left: 90px;
 }
  .features__option--souvenir .features__icon {
    width: 64px;
    height: 75px;
    top: 58px;
    left: 81px;
  }
  .features__option--food .features__icon {
    width: 77px;
    height: 68px;
    top: 64px;
    left: 85px;
  }
  .features__option-title {
    margin-bottom: 21px;
    padding-right: 13px;
    padding-left: 1px;
  }
  .features__item--gray {
    width: 256px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 44px;
    padding-bottom: 28px;
      &:after {
        display: none;
      }
  }
  .features__item--gray .features__item-title {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
  }
}
@media screen and (min-width: $desktop-widths) {
  .features__header {
    padding: 0 356px;
  }
  .features__picture {
    width: auto;
    height: auto;
  }
  .features__item--blue {
    width: 266px;
    padding-top: 53px;
    padding-bottom: 42px;
    padding-left: 67px;
    padding-right: 67px;
  }
  .features__item-title {
    padding: 0 57px;
    margin-bottom: 11px;
  }
  .features__option-wrapper {
    margin-bottom: 21px;
  }
  .features__option {
    padding-left: 46px;
    padding-right: 46px;
    width: 305px;
    margin-right: 3px;
  }
  .features__option--motel .features__icon {
    width: 75px;
    height: 72px;
    left: 161px;
  }
  .features__option--souvenir .features__icon {
    width: 64px;
    height: 75px;
    left: 167px;
  }
  .features__option--food .features__icon {
    width: 77px;
    height: 68px;
    left: 161px;
  }
  .features__option-title {
    margin-bottom: 21px;
    padding-left: 1px;
    padding-right: 0;
  }
  .features__option-text {
    padding-left: 11px;
    padding-right: 11px;
  }
  .features__item--gray {
    width: 400px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 51px;
  }
  .features__item--gray .features__item-title {
    padding-left: 70px;
    padding-right: 70px;
  }
}
