.form__fieldset {
  border-top: 1px solid #e5e5e5;
}
.form__fieldset-wrapper {
  padding: 18px 20px 27px 20px;
}
.form__label {
  position: relative;
  line-height: 26px;
  display: flex;
  align-items: center;
    &--contact {
      flex-direction: column;
      align-items: flex-start;
    }
}
.form__label--contact::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  width: 58px;
  height: 58px;
  top: 33px;
  right: 0;
}
.form__fieldset-item--tel .form__label--contact::after {
  background-image: url("../img/icon-phone.svg");
}
.form__fieldset-item--email .form__label--contact::after {
  background-image: url("../img/icon-mail.svg");
}
.form__name {
  display: block;
    &--contact {
      padding-left: 22px;
      margin-bottom: 7px;
    }
}
.form__fieldset-item {
  padding-top: 20px;
    &--email {
      padding-top: 11px;
    }
    &--radio {
      padding-top: 13px;
    }
    &--checkbox {
      padding-top: 22px;
    }
}
.form__field {
  width: 100%;
  box-sizing: border-box;
  height: 58px;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  text-decoration: none;
  border: 4px solid $gray-form;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  background: $gray-form;
  @include placeholder(#000);
    &--contact {
    margin-left: 0;
    box-sizing: border-box;
    }
    &:hover {
      background: #e5e5e5;
      border: 4px solid #e5e5e5;
    }
    &:focus {
      background: #ffffff;
      color: #000000;
    }
}
.form__span {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding-left: 79px;
  display: flex;
  align-items: center;
}
.form__radio {
  display: none;
}
.form__span--radio {
  position: relative;
  height: 56px;
  pointer-events: none;
}
.form__span--radio::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: $gray-form;
}
.form__radio:checked+.form__span--radio::after {
  position: absolute;
  content: "";
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #333333;
}
.form__label:hover .form__span--radio::before {
  background: #e5e5e5;
}
.form__label:active .form__span--radio::before {
  background: #d5d5d5;
}
.form__label:active .form__span--radio::after {
  background: #333333;
  opacity: 0.3;
}
.form__checkbox {
  display: none;
}
.form__span--checkbox {
  position: relative;
  height: 56px;
  pointer-events: none;
}
.form__span--checkbox::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background: $gray-form;
}
.form__checkbox:checked+.form__span--checkbox::after {
  position: absolute;
  content: "";
  top: 19px;
  left: 18px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form__label:hover .form__span--checkbox::before {
  background: #e5e5e5;
}
.form__label:hover .form__span--checkbox::after {
  background: #e5e5e5;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form__label:active .form__span--checkbox::before {
  background: #d5d5d5;
}
.form__label:active .form__span--checkbox::after{
  background: #d5d5d5;
  background-image: url("../img/icon-tick-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form__fieldset-title {
  margin-bottom: 9px;
}
.form__comment {
  min-height: 128px;
  width: 237px;
  background: $gray-form;
  border: 4px solid $gray-form;
  outline: none;
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding: 11px 16px;
  resize: none;
  margin-top: 18px;
  margin-bottom: 19px;
  @include placeholder(#000);
    &:hover {
      background: #e5e5e5;
      border: 4px solid #e5e5e5;
    }
    &:focus {
      background: #ffffff;
      color: #000000;
    }
}
.form__submit {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 57px;
}
.form__required {
  display: none;
}
@media screen and (min-width: $tablet-widths) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }
  .form__fieldset {
    border-top: none;
  }
  .form__fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .form__fieldset--name {
    order: 2;
    position: relative;
  }
  .form__fieldset--name .form__fieldset-item {
    width: 100%;
  }
  .form__fieldset--name::before {
    content: "";
    display: block;
    width: 1px;
    height: 293px;
    top: 0;
    left: 0;
    background: #dbdbdb;
    position: absolute;
  }
  .form__fieldset--name .form__fieldset-wrapper {
    width: 267px;
    align-items: center;
    margin-left: 56px;
  }
  .form__fieldset--name .title--form {
    margin-bottom: 38px;
  }
  .form__fieldset--contact {
    order: 3;
  }
  .form__fieldset--contact .form__fieldset-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    width: 648px;
    margin-top: 70px;
    position: relative;
  }
  .form__label--contact::after {
    top: 37px;
  }
  .form__name--contact {
    margin-top: 4px;
  }
  .form__fieldset--impression {
    order: 1;
  }
  .form__fieldset--contact .title--form,
  .form__fieldset--sightseeings .title--form,
  .form__fieldset--emotion .title--form {
    position: relative;
  }
  .form__fieldset--contact .title--form::before,
  .form__fieldset--sightseeings .title--form::before,
  .form__fieldset--emotion .title--form::before {
    position: absolute;
    content: "";
    display: block;
    width: 125px;
    height: 1px;
    background: #dbdbdb;
    top: 50%;
    left: 0;
  }
  .form__fieldset--sightseeings .title--form::before {
    margin-left: -65px;
  }
  .form__fieldset--contact .title--form::after,
  .form__fieldset--sightseeings .title--form::after,
  .form__fieldset--emotion .title--form::after {
    position: absolute;
    content: "";
    display: block;
    width: 125px;
    height: 1px;
    background: #dbdbdb;
    top: 50%;
    right: 0;
  }
  .form__fieldset--impression .form__fieldset-wrapper {
    width: 324px;
    justify-content: flex-start;
    align-items: center;
  }
  .form__fieldset--sightseeings {
    order: 4;
  }
  .form__fieldset--sightseeings .form__fieldset-wrapper {
    width: 583px;
    margin-top: 53px;
    margin-left: 65px;
    flex-direction: row;
  }
  .form__fieldset-item--mountain {
    order: 3;
  }
  .form__fieldset-item--park {
    order: 4;
  }
  .form__fieldset-item--red-rock {
    order: 5;
  }
  .form__fieldset-item--checkbox {
    width: 229px;
    margin-left: 30px;
    padding-top: 27px;
  }
  .form__fieldset--sightseeings .title--form {
    padding-right: 184px;
    padding-left: 119px;
    margin-bottom: 9px;
  }
  .form__fieldset--emotion {
    order: 5;
  }
  .form__fieldset--emotion .form__fieldset-wrapper {
    width: 648px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 68px;
  }
  .form__fieldset--emotion .title--form {
    padding: 0 196px;
  }
  .form__comment {
    margin-top: 58px;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
  }
  .form__submit {
    order: 6;
    width: 648px;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 66px;
    display: flex;
    align-items: center;
  }
  .form__required {
    display: block;
    line-height: 26px;
    margin-left: auto;
  }
  .form__fieldset-title {
    margin-bottom: 39px;
  }
  .form__fieldset-item {
      &--email {
        padding-top: 19px;
      }
      &--radio {
        padding-top: 21px;
      }
      &--checkbox {
        padding-top: 32px;
      }
  }
}
@media screen and (min-width: $desktop-widths) {
  .form__fieldset--name .form__fieldset-wrapper {
    width: 400px;
    margin-left: 80px;
  }
  .form__fieldset--name .form__fieldset-item {
    width: 100%;
  }
  .form__fieldset--name .form__field {
    box-sizing: border-box;
  }
  .form__fieldset--impression .form__fieldset-wrapper {
    width: 480px;
  }
  .form__fieldset--contact .title--form::before,
  .form__fieldset--sightseeings .title--form::before,
  .form__fieldset--emotion .title--form::before {
    width: 280px;
  }
  .form__fieldset--contact .title--form::after,
  .form__fieldset--sightseeings .title--form::after,
  .form__fieldset--emotion .title--form::after {
    width: 280px;
  }
  .form__fieldset--sightseeings .title--form::before {
    margin-left: 0;
  }
  .form__fieldset--contact .form__fieldset-wrapper {
    width: 960px;
    flex-direction: row;
    margin-top: 67px;
  }
  .form__fieldset-title {
    padding-left: 80px;
  }
  .form__fieldset--contact .form__fieldset-item {
    width: 480px;
  }
  .form__fieldset--contact .form__fieldset-item--tel {
    width: 400px;
    margin-right: 80px;
  }
  .form__label--contact::after {
    top: 0;
    right: 0;
  }
  .form__fieldset--contact .title--form {
    padding: 0 339px;
    margin-bottom: 54px;
  }
  .hidden {
    display: none;
  }
  .form__label--contact {
    flex-direction: row;
    align-items: center;
  }
  .form__fieldset-item--tel {
    width: 400px;
  }
  .form__field--contact {
    width: 317px;
    margin-left: 16px;
  }
  .form__name--contact {
    padding-left: 0;
  }
  .form__fieldset--sightseeings .form__fieldset-wrapper {
    width: 960px;
    margin-left: 0;
  }
  .form__fieldset-item--checkbox {
    width: 205px;
    margin-left: 0;
    margin-right: 46px;
      &:last-child {
        margin-right: 0;
      }
  }
  .form__fieldset--sightseeings .title--form {
    padding-right: 340px;
    padding-left: 340px;
    margin-bottom: 10px;
  }
  .form__fieldset--emotion .form__fieldset-wrapper {
    width: 960px;
  }
  .form__fieldset--emotion .title--form {
    padding: 0 350px;
  }
  .form__comment {
    margin-top: 56px;
  }
  .form__submit {
    width: 960px;
    margin-top: 38px;
    margin-bottom: 71px;
  }
}
