.form-header {
  padding: 0 20px 3px 20px;
  text-align: center;
}
.form-header__description {
  margin-top: 25px;
}
@media screen and (min-width: $tablet-widths) {
  .form-header {
    padding: 0 103px 59px 103px;
  }
  .form-header__description {
    margin-top: 31px;
  }
}
@media screen and (min-width: $desktop-widths) {
  .form-header {
    padding: 0 260px 45px 260px;
  }
  .form-header__description {
    margin-top: 31px;
  }
}
