.hashtag {
  font-family: $font;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 37px;
  text-align: center;
}
@media screen and (min-width: $tablet-widths) {
  .hashtag {
    width: 196px;
    margin-bottom: 0;
    text-align: left;
  }  
}
@media screen and (min-width: $desktop-widths) {
  .hashtag {
    width: 268px;
    padding-left: 12px;
  }
}
