.main-nav {
  position: relative;
  margin: 0 auto;
  background: #ffffff;
}
.main-nav__item {
  padding-top: 8px;
  padding-bottom: 7px;
  border-bottom: 1px solid #678fa8;
  box-shadow: inset 0 1px #9ac2db;
  font-family: $font;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  background: #81b3d2;
  text-decoration: none;
  text-align: center;
  &:first-child {
    box-shadow: none;
  }
  &:hover {
    background: #669ec0;
  }
  &:active {
    background: #5496bd;
  }
}
.main-nav__link {
  color: #ffffff;
  &:active {
    color: rgba(250,250,250,0.3);
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .main-nav--close .main-nav__item {
    display: none;
  }
  .main-nav--opened .main-nav__item {
    display: block;
  }
}
@media screen and (min-width: $tablet-widths) {
  .main-nav {
    width: auto;
  }
  .main-nav--close .main-nav__item {
    display: block;
    position: static;
  }
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
  }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 306px;
  }
  .main-nav__list-right{
    display: flex;
    justify-content: flex-start;
    width: 306px;
  }
  .main-nav__list-left {
    display: flex;
    justify-content: flex-end;
    width: 306px;
  }
  .main-nav__item {
    padding-top: 15px;
    padding-bottom: 16px;
    min-width: 153px;
    background: #ffffff;
    font-size: 14px;
    line-height: 26px;
    border-bottom: none;
    box-shadow: none;
    &:hover {
      background: #ffffff;
    }
    &:active {
      background: #ffffff;
    }
  }
  .main-nav__link {
    color: #000000;
    &:hover {
      color: #81b3d2;
    }
    &:active {
      color: rgba(0,0,0,0.3);
    }
  }
  .main-nav__item--active .main-nav__link {
    color: rgba(118,99,87,1);
    &:hover {
      color: rgba(96,78,67,1);
    }
    &:active {
      color: rgba(118,99,87,0.3);
    }
  }
}
@media screen and (min-width: $desktop-widths) {
  .main-nav__list-right{
    width: 480px;
  }
  .main-nav__list-left {
    width: 480px;
  }
  .main-nav__item {
    min-width: 240px;
  }
}
