.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background: #ffffff;
}
.main-nav__list {
  min-height: 223px;
}
.main-nav__item {
  min-height: 56px;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  background: #81b3d2;
  text-decoration: none;
  text-align: center;
}
.main-nav__list,
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__link {
  color: #ffffff;
    &--active {
      color: #766357;
    }
}
.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;
}