.page-footer {
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
}
.page-footer__copyright {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  vertical-align: middle;
}
.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
}
