.page-footer {
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
}
.page-footer__copyright {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  vertical-align: middle;
}
.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: $tablet-widths) {
  .page-footer {
   padding: 0 60px;
  }
  .page-footer__wrapper {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 36px;
  }
  .page-footer__copyright {
    width: 196px;
    text-align: right;
  }
}
@media screen and (min-width: $desktop-widths) {
  .page-footer {
   padding: 0 120px;
  }
  .page-footer__copyright {
    width: 280px;
  }
}
