.photo {
  border-top: 1px solid #e5e5e5;
  padding: 23px 0 17px 0;
}
.photo:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.photo__wrapper {
  padding: 0 20px;
}
.photo__picture {
  padding-bottom: 7px;
}
.photo__characteristic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}
.photo__description {
  padding-bottom: 4px;
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
}
.photo__name {
  font-weight: bold;
  color: #000000;
}
.photo__author {
  font-weight: normal;
  text-transform: none;
  color: #333333;
}
.photo__likes {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
}
.photo__likes__icon {
  width: 22px;
  height: 20px;
  fill: rgba(0,0,0,0.3);
  margin-right: 13px;
}
.photo__likes-number {
  padding-top: 5px;
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;;
}
@media screen and (min-width: $tablet-widths) {
  .photo {
    border-top: none;
    padding: 0;
    width: 324px;
  }
  .photo:last-child {
    border-bottom: 0;
  }
  .photo__picture {
    padding-bottom: 0;
    line-height: 0;
  }
  .photo__wrapper {
    padding: 0;
  }
  .photo--big {
    width: 648px;
  }
  .photo__description {
    padding-bottom: 8px;
  }
  .photo__likes {
    justify-content: flex-end;
  }
  .photo__likes-number {
    padding-right: 9px;
    padding-top: 0;
  }
  .photo--big .photo__likes-number {
    padding-right: 0;
  }
  .photo__characteristic {
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 9px 20px;
  }
  .photo:nth-child(2n+1):not(:first-child) .photo__characteristic {
    background: #eaeaea;
  }
}
@media screen and (min-width: $desktop-widths) {
  .photo {
    position: relative;
    width: 400px;
  }
  .photo--big {
    width: 1200px;
  }
  .photo--big .photo__characteristic {
    width: 1160px;
  }
  .photo__characteristic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    padding: 12px 20px;
    background: rgba(0,0,0,0.3);
  }
  .photo:nth-child(2n+1):not(:first-child) .photo__characteristic {
    background: rgba(0,0,0,0.3);
  }
  .photo__name {
    color: #ffffff;
  }
  .photo__author {
    color: #ffffff;
  }
  .photo__likes__icon {
    fill: #ffffff;
  }
  .photo__likes-number {
    color: #ffffff;
  }
}
