.social-link {
  display: inline-block;
  font-size: 14px;
  margin-right: 6px;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  text-indent: -9999px;
}
.social-link:last-child {
  margin-right: 0;
}
