.subtitle {
  margin-top: 0;
  font-family: $font;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
    &--white {
      color: #ffffff;
    }
}
@media screen and (min-width: $tablet-widths) {
  .subtitle {
    font-size: 21px;
    line-height: 26px;
  }
}
