.video-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 127px;
}
.video-presentation__header {
  padding: 0 40px;
  text-align: center;
  margin-bottom: 21px;
}
.video-presentation__text {
  margin-top: 26px;
}
@media screen and (min-width: $tablet-widths) {
  .video-presentation {
    margin-bottom: 62px;
  }
  .video-presentation__header {
    margin-bottom: 57px;
  }
  .video-presentation__text {
    padding: 0 123px;
    margin-top: 31px;
  }
}
@media screen and (min-width: $desktop-widths) {
  .video-presentation__text {
    padding: 0 340px;
  }
  .video-presentation {
    margin-bottom: 105px;
  }
}
