.video {
  position: relative;
  width: 320px;
  min-height: 267px;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.video__control {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  width: 280px;
  height: 111px;
  left: 50%;
  transform: translateX(-50%);
}
.video__scroll {
  width: 280px;
  height: 45px;
  background-color: rgba(0,0,0,0.6)
}
.video__btn {
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
}
@media screen and (min-width: $tablet-widths) {
  .video {
    width: 648px;
    min-height: 500px;
    line-height: 0;
  }
  .video__control {
    width: 648px;
    height: 93px;
  }
  .video__scroll {
    width: 648px;
    height: 93px;;

  }
  .video__btn {
    display: none;
  }
}
@media screen and (min-width: $desktop-widths) {
  .video {
    width: 800px;
  }
  .video__control {
    width: 800px;
  }
  .video__scroll {
    width: 800px;
  }
}
